@theme {
  --spacing: 4px;
  --radius: 0.45rem;
  --radius-sm: calc(0.45rem - 4px);
  --radius-md: calc(0.45rem - 2px);
  --radius-lg: 0.45rem;
  --radius-xl: calc(0.45rem + 4px);
  --radius-2xl: calc(0.45rem + 8px);
  --radius-3xl: calc(0.45rem + 12px);
  --radius-4xl: calc(0.45rem + 16px);
  --shadow-x: -50px;
  --shadow-y: -50px;
  --shadow-blur: 0px;
  --shadow-spread: -50px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: -50px -50px 0px -50px hsl(0 0% 0% / 0);
  --shadow-xs: -50px -50px 0px -50px hsl(0 0% 0% / 0);
  --shadow-sm: -50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 1px 2px -51px hsl(0 0% 0% / 0);
  --shadow: -50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 1px 2px -51px hsl(0 0% 0% / 0);
  --shadow-md: -50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 2px 4px -51px hsl(0 0% 0% / 0);
  --shadow-lg: -50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 4px 6px -51px hsl(0 0% 0% / 0);
  --shadow-xl: -50px -50px 0px -50px hsl(0 0% 0% / 0), -50px 8px 10px -51px hsl(0 0% 0% / 0);
  --shadow-2xl: -50px -50px 0px -50px hsl(0 0% 0% / 0);
}
