@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Space Grotesk", ui-serif, serif;
  --font-mono: ui-monospace, monospace;
  --tracking-normal: 0em;
  --text-2xs: 0.625rem;
  --text-3xs: 0.5625rem;
  --text-4xs: 0.5rem;
}
